{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Post Manager</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>Post Manager</h1>
      {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.first_name }} {{ user.last_name }} | </strong> <a href="{% url 'logout' %}">Logout</a>
      {% endif %}
      <hr>
    </div>
  </header>
  <main>
    {% for message in messages %}
    <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
      {{ message }}
    </p>
    {% endfor %}
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav nav flex-column">
            <li class="nav-item"><a href="{% url 'manage' %}?id={{ page_id }}">{{ name }} Home</a></li>
            <br/>
            <li class="nav-item"><a href="{% url 'manage_published_posts' %}">Published Posts</a></li>
            <li class="nav-item"><a href="{% url 'manage_unpublished_posts' %}">Unpublished Posts</a></li>
            <br/>
            <li class="nav-item"><a href="{% url 'create_link_post' %}">Create Link Post</a></li>
            <li class="nav-item"><a href="{% url 'create_status_post' %}">Create Status Post</a></li>
            <li class="nav-item"><a href="{% url 'create_photo_post' %}">Create Photo Post</a></li>
            <li class="nav-item"><a href="{% url 'create_video_post' %}">Create Video Post</a></li>
            <br/>
            <br/>
            <br/>
            <li class="nav-item"><a href="{% url 'home' %}">Choose Another Page</a></li>
          </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">
          {% block header %}{% endblock %}
          {% block content %}{% endblock %}
          {% block nav %}{% endblock %}
        </div>
      </div>

    </div>
  </main>
</body>
</html>